name: build
on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 1 * * *'

jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.generate.outputs.matrix }}
    steps:
      - name: Checkout master
        uses: actions/checkout@v2

      - name: Generate matrix
        id: generate
        env:
          EVENT: ${{ github.event_name }}
          BEFORE: ${{ github.event.before }}
          CURRENT: ${{ github.sha }}
        run: |
          if [ "$EVENT" = 'schedule' ] || [ -f .build-all ]; then
            matrix="$(./list.py)"
          else
            git fetch origin $BEFORE
            matrix="$(./list.py -e $(git diff --name-only $BEFORE $CURRENT | sed 's|/.*||'))"
          fi
          echo "::set-output name=matrix::$matrix"
          echo "Matrix: $matrix"


  build:
    runs-on: ubuntu-latest
    needs: generate-matrix
    if: ${{ needs.generate-matrix.outputs.matrix != '[]' }}
    strategy:
      fail-fast: false
      matrix:
        project: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}
      max-parallel: 1
    container:
      image: archlinux
      options: --privileged
      volumes:
        - /sys/fs/cgroup:/sys/fs/cgroup
    steps:
      - name: Get date
        id: date
        run: echo "::set-output name=date::$(date +%F)"

      - name: Cache pacman
        uses: actions/cache@v1
        with:
          path: /var/cache/pacman/pkg
          key: arch-pkgs-v1-${{ steps.date.outputs.date }}
          restore-keys: arch-pkgs-v1

      - name: Cache srcdest
        uses: actions/cache@v1
        with:
          path: sources
          key: srcdest-${{ steps.date.outputs.date }}
          restore-keys: srcdest

      - name: Add symbiflow-git repo to pacman.conf
        run: echo -e '\n[symbiflow-git]\nSigLevel = Optional\nServer = https://ffy00.github.io/symbiflow-arch-pkgs/' >> /etc/pacman.conf

      - name: Update system and install dependencies
        run: pacman -Syu --noconfirm --noprogressbar --needed base-devel devtools btrfs-progs dbus sudo git

      - name: Fix invalid packages in symbiflow-git repo
        run: pacman -Sw --noconfirm $(pacman -Slq symbiflow-git)

      - name: Add symbiflow-git repo to /usr/share/devtools/pacman-extra.conf
        run: echo -e '\n[symbiflow-git]\nSigLevel = Optional\nServer = https://ffy00.github.io/symbiflow-arch-pkgs/' >> /usr/share/devtools/pacman-extra.conf

      - name: Checkout master
        uses: actions/checkout@v2
        with:
          path: master

      - name: Setup gcloud
        uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: Populate /etc/machine-id
        run: dbus-uuidgen --ensure=/etc/machine-id

      - name: Setup git
        run: |
          git config --global user.email action@github.com
          git config --global user.name 'Github Action'
          git config --global core.editor true

      - name: Setup makepkg configuration
        run: |
          mkdir -p "$HOME"/{build,sources,srcpackages,makepkglogs}
          sed -i -e "s|MAKEFLAGS=.*|MAKEFLAGS=-j$(nproc)|" \
                 -e "s|#PKGDEST=.*|PKGDEST='$HOME/build'|" \
                 -e "s|#SRCDEST=.*|SRCDEST='$HOME/sources'|" \
                 -e "s|#SRCPKGDEST=.*|SRCPKGDEST='$HOME/srcpackages'|" \
                 -e "s|#LOGDEST=.*|LOGDEST='$HOME/makepkglogs'|" \
                 /etc/makepkg.conf

      - name: Setup build user
        run: |
          useradd -m user
          chown -R user "$HOME" "$GITHUB_WORKSPACE"

      - name: Build ${{ matrix.project }}
        run: |
          cd "$GITHUB_WORKSPACE"/master/$PROJECT
          extra-x86_64-build -- -U user
        env:
          PROJECT: ${{ matrix.project }}

      - name: Checkout repo
        run: git clone --branch gh-pages https://github.com/${{ github.repository }}.git "$GITHUB_WORKSPACE"/repo

      - name: Copy build files to repo
        run: |
          for file in "$HOME"/build/*; do
            name="$(basename "$file")"
            if [ -f "$GITHUB_WORKSPACE"/repo/"$name" ]; then
              echo "Removing old packages and copying $name..."
              rm -f "$GITHUB_WORKSPACE"/repo/$(pacman -Qpq $file)-*.pkg.*
              cp "$file" "$GITHUB_WORKSPACE"/repo/
            fi
          done
        env:
          PROJECT: ${{ matrix.project }}

      - name: Generate repo database
        run: |
          cd "$GITHUB_WORKSPACE"/repo
          repo-add symbiflow-git.db.tar.gz *.pkg.*
          rm -f *.old

      - name: Generate index.html for repo
        run: |
          "$GITHUB_WORKSPACE"/master/generate-index.sh "$GITHUB_WORKSPACE"/repo

      - name: Commit packages
        run: |
          cd "$GITHUB_WORKSPACE"/repo
          git add -u
          git add *
          git commit --fixup HEAD || true
          git rebase -i --autosquash --root

      - name: Push changes (github pages)
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.ACCESS_TOKEN }}
          branch: gh-pages
          directory: repo
          force: true

      - name: Push changes (GCP)
        uses: GoogleCloudPlatform/github-actions/upload-cloud-storage@master
        with:
          path: ${{ github.workspace }}/repo
          destination: symbiflow-arch-linux

      # TODO: send to IRC
      - name: Report failed job
        if: ${{ failure() && github.ref == 'master' }}
        run: echo "[symbiflow-arch-pkgs] failed to build $PROJECT - https://github.com/$GITHUB_REPOSITORY/runs/$GITHUB_RUN_ID"
        env:
          PROJECT: ${{ matrix.project }}
